body {
	background-color: rgb(165, 134, 134);
	text-align:center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 24px;
	margin: 10px 0;
}

.description > div {
	font-size: 14px;
	width:150px;
	padding-bottom:5px;
	margin:auto;
}

.social-icon {
	background-size:100%;
	display:inline-block;
	width:19%;
	height:0;
	padding-bottom:19%;
	transition: all .1s linear;
}

.social-icon:hover {
	-webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
   	-o-transform: translateY(-5px);
   	transform: translateY(-5px);
}

.facebook {
	background-image: url("../img/facebook-128.png");
}

.linkedin {
	background-image: url("../img/linkedin-128.png");
}

.twitter {
	background-image: url("../img/twitter-128.png");
}

.email {
	background-image: url("../img/email-128.png");
}

.github {
	background-image: url("../img/github-128.png");
}

.icon-acknowledgment {
	position: fixed;
	bottom: 0;
	right: 0;
	text-decoration: none;
	color:inherit;
	font-size: 10px;
	margin: 0 5px 5px 0;
}

@media (min-height: 400px) and (max-width: 499px) {
	.social-icon {
		width:30%;
		padding-bottom:30%;
	}
}

@media (min-width: 500px){
	.description > div {
		display:inline-block;
		padding-bottom:0;
	}
}

@media (min-width: 700px) {
	.social-icon {
		min-width:128px;
		min-height:128px;
		padding-bottom:0;
		width:initial;
		width:auto;
		height:auto;
		height:initial;
	}
}